In [1]:
import sqlite3 as sql
import pandas as pd

### routines and basics of using sqlite3

In [3]:
# connect to a .db file, create one if it does not exist.
con = sql.connect()
# create a cursor to execute sql command.
cur = con.cursor()
# execute some sql commands.
cur.execute()
# save the changes
con.commit()
# close the cursor
cur.close()
# close connection to .db
con.close()

ModuleNotFoundError: No module named 'md5'

In [7]:
con = sql.connect("sqltolearn.bd")

#### create a table in sqlite

In [8]:
sql_create_projects_table = """ CREATE TABLE IF NOT EXISTS projects (
                                    id integer PRIMARY KEY,
                                    name text NOT NULL,
                                    begin_date text,
                                    end_date text
                                ); """

sql_create_tasks_table = '''CREATE TABLE IF NOT EXISTS tasks (
                                id integer PRIMARY KEY,
                                name text NOT NULL,
                                priority integer,
                                status_id integer NOT NULL,
                                project_id integer NOT NULL,
                                begin_date text NOT NULL,
                                end_date text NOT NULL,
                                FOREIGN KEY (project_id) REFERENCES projects (id)
                            );'''

In [10]:
con = sql.connect("sqltolearn.db")
# create a cursor to execute sql command.
cur = con.cursor()
# execute some sql commands.
cur.execute(sql_create_projects_table)
cur.execute(sql_create_tasks_table)

#### inserting a row of data into the table of database

In [14]:
project_1 = ('Cool App with SQLite & Python', '2015-01-01', '2015-01-30')
sql_insert_project = ''' INSERT INTO projects(name,begin_date,end_date)
              VALUES(?,?,?) '''
cur.execute(sql_insert_project, project_1)
print(cur.lastrowid)

3

In [27]:
projects = cur.execute('''SELECT * FROM projects''')

In [28]:
# iterate through the cursor to show selected data.
for row in projects:
    print(row)

(1, 'Cool App with SQLite & Python', '2015-01-01', '2015-01-30')
(2, 'Cool App with SQLite & Python', '2015-01-01', '2015-01-30')
(3, 'Cool App with SQLite & Python', '2015-01-01', '2015-01-30')

#### update data in sqlite

In [32]:
sql_update_project = ''' UPDATE projects
              SET name = ? ,
                  begin_date = ? ,
                  end_date = ?
              WHERE id = ?'''
project_updated = ('guauga','2018-04-01','2019-01-01',2)
cur.execute(sql_update_project,project_updated)

In [33]:
cur.execute('''SELECT * FROM projects''')
for row in projects:
    print(row)

(1, 'Cool App with SQLite & Python', '2015-01-01', '2015-01-30')
(2, 'guauga', '2018-04-01', '2019-01-01')
(3, 'Cool App with SQLite & Python', '2015-01-01', '2015-01-30')

#### delete data in sqlite

In [ ]:
sql_delete = '''DELETE FROM tasks WHERE id=?'''

#### select data in sqlite

In [ ]:
sql_select = '''SELECT * FROM projects WHERE end_date=?'''

In [ ]:
### showing tables

## import from and export to csv

In [ ]:
# export csv to sqlite via pandas
df = pd.read_csv()
df.to_sql()

In [ ]:
# read dataframe from sqlite
df = pd.read_sql()

## sql languages

### SELECT  
select is the most complex query in sql

In [ ]:
"""SELECT DISTINCT column_list
FROM table_list
  JOIN table ON join_condition
WHERE row_filter
ORDER BY column
LIMIT count OFFSET offset
GROUP BY column
HAVING group_filter;"""

### ORDER BY

In [ ]:
"""SELECT
 column_list
FROM
 table
ORDER BY
 column_1 ASC,
 column_2 DESC;"""

### use of DISTINCT

### WHERE clause 
to filter rows  
more:http://www.sqlitetutorial.net/sqlite-where/

In [ ]:
column_name = 100;
column_name in (1,2,3);
column_name LIKE 'An%';
column_name BETWEEN 10 AND 20;

### LIMIT clause 
to limit number of rows to be extracted

### LEFT JOIN clause  
to query data from multiple correlated tables.  
all rows in the A table are included in the result set whether there are matching rows in the B table or not.

In [3]:
"""
SELECT
 a,
 b
FROM
 A
LEFT JOIN B ON A.f = B.f
WHERE search_condition;
"""

'\nSELECT\n a,\n b\nFROM\n A\nLEFT JOIN B ON A.f = B.f\nWHERE search_condition;\n'

#### INNER JOIN  
To query data from multiple tables.  
Not like LEFT JOIN, INNER JOIN joins two table with common foreign keys.
#### CROSS JOIN
To produce the Cartesian product of the involved tables. the number of rows is prodect of the number of rows in each involved tables.
#### self-join
To create a result set that joins the rows with the other rows within the same table.

In [ ]:
"""
SELECT m.firstname || ' ' || m.lastname AS 'Manager',
       e.firstname || ' ' || e.lastname AS 'Direct report' 
FROM employees e
INNER JOIN employees m ON m.employeeid = e.reportsto
ORDER BY manager;
"""

### SQL Operators
#### BETWEEN  
test_expression BETWEEN low_expression AND high_expression
#### IN
expression [NOT] IN (value_list|subquery); //subtquery could be a SELECT query.
#### LIKE
There are two ways to construct a pattern using percent sign % and underscore _ wildcards:  
1. The percent sign % wildcard matches any sequence of zero or more characters.
2. The underscore _ wildcard matches any single character.  
3. if you want to escape % and _ in your patterns, type ESCAPE "escape_character" at the end.

#### GLOB
GLOB is much like LIKE operator, however, it is case sensitive and uses the UNIX wildcards and it does
not have escape character.
1. The asterisk (*) wildcard matches any number of characters.
2. The question mark (?) wildcard matches exactly one character.
3. you can use the list wildcard [] to match one character from a list of characters.
4. The list wildcard also allows a range of characters e.g., [a-z] matches any single lowercase character from a to z. 
5. You use the ^ at the beginning of the list to match any character except any character in the list.